

Body {
    
    
    background-color: rgb(245, 216, 239); color: rgb(80, 67, 112); font-size: 100%; font-family: Arial;
    margin-left: 15; margin-top: 15; margin-bottom: 15; margin-right: 15;}
    img{height: 250px; width: auto;}
    h1{color: rgb(60, 26, 92); font-size: 90; font-family: 'Times New Roman', Times, serif;}
    h2{color: rgb(114, 51, 174); font-size: 40; font-family: 'Times New Roman', Times, serif;}
    p{color: rgb(0, 0, 0); font-size: 20; font-family: 'Times New Roman', Times, serif;}
    

    A:link {color: rgb(0, 14, 119);}
    A:visited {color: rgb(157, 139, 244);}
    A:active {tcolor: rgb(113, 0, 0);}
    A:hover {color: rgb(184, 65, 65);}

    table, th, td {
    border: 1px solid;
  }

/* Dropdown Button */
.dropbtn {
  background-color: #5a4675;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5a4675;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #9f92af;}